<a href="https://colab.research.google.com/github/shivas24/Assignments/blob/main/17jun23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is the role of try and exception block?

In [ ]:
"""try and exception are used to control the human errors while coding.
While some times if a coding problems happen, system will execute the loops continuously .
In such situaations to handle those errors we use try ..except..blocks.
Major advantages of this block to efficiently handle the coding. Like ValueErrors,Zerodivisionerror etc.."""

'''syntax
try:

    coding

except Error:
    error handler
'''
try:
    x=10/0

except ZeroDivisionError:
    print("zero divisible error")

zero divisible error

#What is the syntax for a basic try-except block?

In [ ]:
"""#Syntax

try:

    coding
except:

    error description

OR

try:
    condition

exception ErrorHandler:

    print("Error Handler description)
"""

#What happens if an exception occurs inside a try block and there is no matching except block?

In [ ]:
#If except block not able to handle the error, system bydefault catch the error and check if any
#such predefined error is designed. Else it shows the error with reason
try:

    a=4/0

except ValueError:
   print("ValueError")

ZeroDivisionError: ignored

In [ ]:
try:
    a=1/0
    a=a**3
    print(a)
except ValueError:
    print("Value error")

ZeroDivisionError: ignored

#What is the difference between using a bare except block and specifying a specific exception type?

In [ ]:
#specific exception block is designed for to catch the specific error

#examp

try:
    x=10/0

except ZeroDivisionError:
    print("Not Divisible by Zero")

try:
    x=input("enter value")
    x= x-2
    print(x)
except TypeError:
    print("Wrong Value")

Not Divisible by Zero
enter value5
Wrong Value

In [ ]:
#Bare Exception Error

try:
    x=10
    y=x+"Hello"    # here it cant concatenate int with string.Hence throws error

except:
    print("Wrong data type")

Wrong data type

#Can you have nested try-except blocks in Python? If yes, then give an example.

In [ ]:
#Yes We can

try:
    num1=input("Enter Value1::")
    num2=input("enter value2::")

    try:
        val=num1/num2
        print(val)
    except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::5
enter value2::2
Type Error

In [ ]:

try:
    num1=input("Enter Value1::")
    num2=input("enter value2::")

    try:
        val=int(num1)/int(num2)
        print(val)
    except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::5
enter value2::2
2.5

In [ ]:
try:
    num1=input("Enter Value1::")
    num2=input("enter value2::")

    try:
        val=int(num1)/int(num2)
        print(val)
    except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::5
enter value2::0
Zero Division error

#Can we use multiple exception blocks, if yes then give an example

In [ ]:
#Yes

try:
    num1=input("Enter Value1::") #treated as string
    num2=input("enter value2::") #treated as string
    val=num1/num2  # can not divide string datatype
    print(val)

except ValueError:
    print("Value error")
except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::5
enter value2::2
Type Error

In [ ]:
try:
    num1=input("Enter Value1::") #num1 is string
    num2=input("enter value2::")
    val=int(num1)/int(num2)
    print(val)

except ValueError:
    print("Value error")
except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::Hello
enter value2::5
Value error

In [ ]:
try:
    num1=input("Enter Value1::") #num1 is string
    num2=input("enter value2::")
    val=int(num1)/int(num2)
    print(val)

except ValueError:
    print("Value error")
except ZeroDivisionError:
        print("Zero Division error")
except TypeError:
    print("Type Error")

Enter Value1::15
enter value2::0
Zero Division error

#Write the reason due to which following errors are raised:

a. EOFError ::

b. FloatingPointError

c. IndexError

d. MemoryError

e. OverflowError

f. TabError

g. ValueError

In [ ]:
#EOF error
#EOF Error will be raised when something wrong termination encountered in middleof execution
#Ctrl +D

try:
    x=input("enter value::")
    print("entered value  is::",x)

except EOFError:
    print("Uninterrputed termination")

enter value::
Uninterrputed termination

In [ ]:
#FloatingPoint error
#Actuallhy in binary system we can not represent decimal values of small values in systems accurately
#So in such cases floating point errors occurs
#Instead of 0.21 it gives some minor values . to control this we use this
a=0.01
b=0.2
a+b

0.21000000000000002

#IndexError

In [11]:
#When index is out of range this error occurs

ls=["Apple","Banana","Mango"]

try:
    print(ls[3])
except IndexError:
    print("Index Out of range")

Index Out of range

In [ ]:
#Memory error

#When program runs out of memory this eror occurs

#Overflowerror

#when result of calculation is too large

a =0.01
b=0.2
a+b

2.9299326746326637e-10

In [15]:
#TabError
# When indentation issue
x=5
y=5
try:

    print(x+y)
        print()  #Indentation or Tab Error
except TabError:
    print("Tab error")

IndentationError: ignored

In [ ]:
#Valueerror
#Raises when wrong value is specified
try:
    num1=input("value::")
    print(int(num1)+5)
except ValueError:
    print("Value error,Wrong data Type")

value::HELLO
Value error,Wrong data Type

#Write code for the following given scenario and add try-exception block to it.
a. Program to divide two numbers

b. Program to convert a string to an integer

c. Program to access an element in a list

d. Program to handle a specific exception

e. Program to handle any exception

In [ ]:
#a...Program to  divide two numbers

try:
    x=10
    y=0
    print(x/y)
except ZeroDivisionError:
    print("Zero Divisible error. either value cant be zero")

Zero Divisible error. either value cant be zero

In [ ]:
#Program to convert to integer
try:
    num=input("Value::")
    print(type(num))
    num=int(num)
    print(num)

except ValueError as e:
    print("Invalid Data.....",e)

Value::3
<class 'str'>
3

In [ ]:
#Program to access an element in a list

lst=[2,3,5,24,77,44]

value=input("Enter The Index Value to retrieve::")
try:
    print(lst[int(value)])

except IndexError:
    print(f"You can access upto {len(lst)} elements only.Element Length Exceeded. Try smaller value.")

Enter The Index Value to retrieve::12
You can access upto 6 elements only.Element Length Exceeded. Try smaller value.

In [ ]:
#Program to specific exception

try:
    num = 10
    val=num/0

except ZeroDivisionError:
    print("Cant Divide by Zero")

Cant Divide by Zero

In [ ]:
#Program to  handle  any exception

num=input("value::")
lst=[1,2,3]
try:
    print(lst[int(num)])

except Exception as e:
    print("exception is::",e)

value::6
exception is:: list index out of range

In [ ]:
#Program to  handle  any exception

num=input("value::")

try :
    num==int(num)
    print(num)

except Exception as e:
    print("exception is::",e)

value::2.4
exception is:: invalid literal for int() with base 10: '2.4'

In [22]:
class NotIntegerError(Exception):
    pass

x = input("Enter a number: ")

try:
    if x.isdigit():
        print(x)
    else:
        raise NotIntegerError(Exception)
except NotIntegerError:
    print("Not an Integer")

Enter a number: 5.6
Not an Integer