<a href="https://colab.research.google.com/github/shivas24/Assignments/blob/main/21May2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create two int type variables, apply addition, subtraction, division and multiplications and store the results in variables. Then print the data in the following format by calling the variables:

In [ ]:
a = 10
b=5

print("Addition::", a+b)
print("Substraction::",a-b)
print("Multiplication::", a*b)
print("Division::",a/b)

Addition:: 15
Substraction:: 5
Multiplication:: 50
Division:: 2.0

#What is the difference between the following operators:
(i) ‘/’ & ‘//’

(ii) ‘**’ & ‘^’

In [ ]:
# /  is division operators willbe use d to divsion between 2 numbers
print(2/5)

# // floor division operator. returns floorvalue nearest to floor value

print(5 //2)  # floor value is 2
print(6 //2)  # floor value is 3
print(9//2)   # floor value is 9/2=4.5 but nearest large floor integer value of divsion is 4
print(9.6//2) # floor value is 9.6/2=4.8 but nearest integer divsion is 4

# **  is exponent operator to calculate exponent of a number

print( 3 ** 3)

#^  is xor operator used in bitiwise opearator.If both bits are 1 or 0 then it eturns 0. if either or 1 then only returns 1

a = 1 #0001
b=  2 #0010
c = 3 #0011

print(a ^ b)  # Here neither bits are same . hence results 0001 + 0010= 0011=3
print(a ^ c) # Here 0001+0011= 0010= 2

0.4
2
3
4
4.0
27
3
2

#List of logical operators

In [ ]:
# AND
# OR
# NOT

#In python 1 and above considered as True.  0 is considered as False

x= 5
y=6
z=6

print(x==5 and y==6)
print(x==5 or y==6)
print(not(x==y))
print(not(y==z))
print(x and z)
print(1 and 0)  # here 1 is true and 0 is false . hence false i.e.0
print(1 and 2)  # in pyhton 0 is considerd as false 1 and above numbers as true
print(1 or 0)
print(1 or 2)
print(not (0))
print(not (1))
print(not(2))

True
True
True
False
6
0
2
1
1
True
False
False

#Explain right shift operator and left shift operator with examples.

In [ ]:
#Right shift operators are used to shift by right justification
#Left shift operators are used to shift by left justification

x=6  #0000110
y=2  #0000010
print(bin(x))
print(bin(y))
print(x >> y)  # shfts x by y value i.e. 0110 right shifts by 2 times i.e    000001
print(x << y)  # Left shifts by 2 times i.e 0110  left shifts by 2 times i.e 011000

0b110
0b10
1
24

#Create a list containing int type data of length 15. Then write a code to check if 10 is present in the list or not.

In [6]:
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print("length of List is::",len(my_list))
[print("found") if int(10) in my_list else print("not found")]
[print("found") if int(16) in my_list else print("not found")]
print()

length of List is:: 15
found
not found

In [60]:
my_list=[1,2,3,4,5,6,7,8,9,1,11,12,13,14,10]
print(my_list)

for i in range(len(my_list)):

    if my_list[i] == 10:
        print("Found @ position",f"{i}::" ,my_list[i])
        break
    else:
        print("Value not found @ position", f"{i}::Value is::",my_list[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 11, 12, 13, 14, 10]
Value not found @ position 0::Value is:: 1
Value not found @ position 1::Value is:: 2
Value not found @ position 2::Value is:: 3
Value not found @ position 3::Value is:: 4
Value not found @ position 4::Value is:: 5
Value not found @ position 5::Value is:: 6
Value not found @ position 6::Value is:: 7
Value not found @ position 7::Value is:: 8
Value not found @ position 8::Value is:: 9
Value not found @ position 9::Value is:: 1
Value not found @ position 10::Value is:: 11
Value not found @ position 11::Value is:: 12
Value not found @ position 12::Value is:: 13
Value not found @ position 13::Value is:: 14
Found @ position 14:: 10

In [58]:
my_list=[1,2,3,4,5,10,7,8,9,1,11,12,13,14,10]
print(my_list)

for i in range(len(my_list)):

    if my_list[i] == 10:
        print("Found @ position",f"{i}::" ,my_list[i])
        continue
    else:
        print("Value not found @ position", f"{i}::",my_list[i])

[1, 2, 3, 4, 5, 10, 7, 8, 9, 1, 11, 12, 13, 14, 10]
Value not found @ position 0:: 1
Value not found @ position 1:: 2
Value not found @ position 2:: 3
Value not found @ position 3:: 4
Value not found @ position 4:: 5
Found @ position 5:: 10
Value not found @ position 6:: 7
Value not found @ position 7:: 8
Value not found @ position 8:: 9
Value not found @ position 9:: 1
Value not found @ position 10:: 11
Value not found @ position 11:: 12
Value not found @ position 12:: 13
Value not found @ position 13:: 14
Found @ position 14:: 10