<a href="https://colab.research.google.com/github/shivas24/Assignments/blob/main/python_coding_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input= "write write write all the number from from from 1 to 100 "

l1=input.split()
print(type(l1),"\n",l1)
x=max(l1,key=l1.count)
print(x,len(x),"\n\n")

input2= "cat on cat on table under cat from india india india india world  "
l2=input2.split()
print(type(l2),"\n",l2)

y=max(l2,key=l2.count)
print(y,len(y),"\n\n")

input3='Compose, compose, compose all the letters froms froms froms A to Z'
l3=input3.split()
print(type(l3),"\n",l3)

z=max(l3,key=l3.count)
print(z,len(z),"\n\n")

<class 'list'>
 ['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
write 5


<class 'list'>
 ['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'india', 'india', 'world']
india 5


<class 'list'>
 ['Compose,', 'compose,', 'compose', 'all', 'the', 'letters', 'froms', 'froms', 'froms', 'A', 'to', 'Z']
froms 5

In [ ]:
input= "write write write all the number froms froms froms 1 to 100 "

l1=input.split()
print(type(l1),"\n",l1)
x=max(l1,key=input.count)
print(x,len(x))

<class 'list'>
 ['write', 'write', 'write', 'all', 'the', 'number', 'froms', 'froms', 'froms', '1', 'to', '100']
write 5

In [ ]:
input2= "cat on cat on table under cat from india india india india world  cat"
l2=input2.split()
print(type(l2),"\n",l2)

x=max(l2,key=input2.count)
print(x,len(x))

<class 'list'>
 ['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'india', 'india', 'world', 'cat']
cat 3

In [ ]:
input3='compose, compose, compose all the letters froms froms froms A to Z'
l3=input3.split()
print(type(l3),"\n",l3)

x=max(l3,key=input3.count)
print(x,len(x))

<class 'list'>
 ['compose,', 'compose,', 'compose', 'all', 'the', 'letters', 'froms', 'froms', 'froms', 'A', 'to', 'Z']
compose 7

In [ ]:
def find_highest_frequency_word_length(input_str):
    words = input_str.split()
    most_frequent_word = max(set(words), key=words.count)
    return most_frequent_word, len(most_frequent_word)

input1 = "write write write all the number froms froms froms 1 to 100"
result1 = find_highest_frequency_word_length(input1)
print(result1)

input2 = "cat on cat on table under cat from india india india india world"
result2 = find_highest_frequency_word_length(input2)
print(result2)

input3 = 'Compose, compose, compose all the letters froms froms froms A to Z'
result3 = find_highest_frequency_word_length(input3)
print(result3)

('write', 5)
('india', 5)
('froms', 5)

In [ ]:
def highwordcount(input):
    list_form=input.split()
    print(list_form, "\n", type(list_form))

    output=max(list_form,key=list_form.count)
    print(output,len(output),"\n\n")

obj=highwordcount("write write write all the number from from from 1 to 100")
obj
obj1=highwordcount("cat on cat on table under cat from india india indian india world")
obj1
obj2=highwordcount("Compose, compose, compose all the letters froms froms froms A to ")

['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
 <class 'list'>
write 5


['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'indian', 'india', 'world']
 <class 'list'>
cat 3


['Compose,', 'compose,', 'compose', 'all', 'the', 'letters', 'froms', 'froms', 'froms', 'A', 'to']
 <class 'list'>
froms 5

In [ ]:
def highwordcount(input):
    list_form=input.split()
    print(list_form, "\n", type(list_form))
    print(list_form.count)
    output=max(list_form,key=count)

    print(output)

    print(output,len(output),"\n\n")

obj=highwordcount("write write write all the number from from from 1 to 100")
obj
obj1=highwordcount("cat on cat on table under cat from india india indian india world")
obj1
obj2=highwordcount("Compose, compose, compose all the letters froms froms froms A to ")
obj2

['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
 <class 'list'>
<built-in method count of list object at 0x7f9784f8ff00>

NameError: name 'count' is not defined

In [ ]:
my_words = ['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
max_count = my_words.count(max(set(my_words), key=my_words.count))

max_count_words = [word for word in set(my_words) if my_words.count(word) == max_count]

print("Words with maximum count:", max_count_words)
print("Length of the first word:", len(max_count_words[0]))

Words with maximum count: ['from', 'write']
Length of the first word: 4

In [ ]:
def highwordcount(input):
    list_form = input.split()
    print(list_form, "\n", type(list_form))
    i = 0  # Initialize i to 0
    l1 = []
    count = 0

    def recur():
        nonlocal i, count
        if i < len(list_form) - 1:  # Check if i is less than the last index
            if list_form[i] == list_form[i + 1]:
                count += 1
                i += 1
            else:
                l1.append(count + 1)  # Append count + 1 (including the current word)
                count = 0  # Reset count for the new word
        recur()  # Call the function recursively


    return l1


obj = highwordcount("write write write all the number from from from 1 to 100")
print(obj)
# obj1 = highwordcount("cat on cat on table under cat from india india indian india world")
# print(obj1)
# obj2 = highwordcount("Compose, compose, compose all the letters froms froms froms A to ")
# print(obj2)




obj=highwordcount("write write write all the number from from from 1 to 100")
print(obj)
#obj1=highwordcount("cat on cat on table under cat from india india indian india world")
#print(obj1)"""
#obj2=highwordcount("Compose, compose, compose all the letters froms froms froms A to ")

['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
 <class 'list'>
[]
['write', 'write', 'write', 'all', 'the', 'number', 'from', 'from', 'from', '1', 'to', '100']
 <class 'list'>
[]

In [ ]:
def highwordcount(input):
    list_form = input.split()
    print(list_form, "\n", type(list_form))
    l1=[]
    count=0
    def recur():
        for i in range(0,len(list_form)):
            print(list_form[i])
            if list_form[i] == list_form[i+1]:
                count +=1
                list_form.pop(i+1)

            else:

                print(count)
        return count
    return l1.append(count)
obj = highwordcount("cat on cat on table under cat from india india indian india world")
obj

['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'indian', 'india', 'world']
 <class 'list'>

In [ ]:


def highwordcount(input):
    list_form = input.split()
    print(list_form, "\n", type(list_form))
    l1=[]
    count=0
    def recur():
        for i in range(0,len(list_form)):
            print(list_form[i])
            if list_form[i] == list_form[i+1]:
                count +=1
                list_form.remove(i+1)
                print(count)

            else:

                print(count)

    return l1.append(count)
obj = highwordcount("cat on cat on table under cat from india india indian india world")
printobj

['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'indian', 'india', 'world']
 <class 'list'>

In [ ]:
#x="write write write all the number from from from 1 to 100"
x='cat on cat on table under cat from india india indian india world'
y=x.split()
print(y)
d={}
for i in range(len(y)):
    z=x.count(y[i])
    d[y[i]]=z
print(d)
print(max(d))

['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'indian', 'india', 'world']
{'cat': 3, 'on': 2, 'table': 1, 'under': 1, 'from': 1, 'india': 4, 'indian': 1, 'world': 1}
world

In [ ]:
#x="write write write all the number from from from 1 to 100"
x="cat on cat on table under cat from india india indian india world"
#x="compose, compose, compose all the letters froms froms froms A to"
y=x.split()
print(y,"\n",len(y))
d={}
for i in range(len(y)):
    z=x.count(y[i])
    d[y[i]]=z
print(d)
value=max(d.values())
print(value)


l=[]
for key,val in d.items():
    if value == val:
        l.append(key)
print(max(l,key=len))

['cat', 'on', 'cat', 'on', 'table', 'under', 'cat', 'from', 'india', 'india', 'indian', 'india', 'world']
 13
{'cat': 3, 'on': 2, 'table': 1, 'under': 1, 'from': 1, 'india': 4, 'indian': 1, 'world': 1}
4
india

In [ ]:
input1='hello'
l1=[]
j=len(input1)
vowels='aeiou'
for i in range(0,j):
    if input1[i] in vowels:

        l1.append(input1[i])
    else:
        pass

print(l1)

['e', 'o']

In [ ]:
def output(input_dict):
   x=dict.fromkeys(input_dict)
   print(x)


input_dict = {"abc":{"def":{"ghi":{"jkl":{"mno":{"pqr":{"stu":{"vwx":{"yz":"you are finally here !!!"}}}}}}}}}

In [ ]:
from pprint import pprint


def output(input):
    ret = {}
    for k, v in input.items():
        if isinstance(v, dict):
            d = output(v)
            ret.update(d)
            ret[k] = list(reversed(d))
        else:
            ret[k] = [v]
    return ret

input = {"abc":{"def":{"ghi":{"jkl":{"mno":{"pqr":{"stu":{"vwx":{"yz":"you are finally here !!!"}}}}}}}}}

pprint(output(input))

{'abc': ['def', 'ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'def': ['ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'ghi': ['jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'],
 'jkl': ['mno', 'pqr', 'stu', 'vwx', 'yz'],
 'mno': ['pqr', 'stu', 'vwx', 'yz'],
 'pqr': ['stu', 'vwx', 'yz'],
 'stu': ['vwx', 'yz'],
 'vwx': ['yz'],
 'yz': ['you are finally here !!!']}

In [ ]:
#example 4

def x1(func):
    def in2():
        print("Before decor")
        add=func()
        add+= 5
        print("add::",add)
        return add
    return in2

def x2(func):
    def in2():
        print("After decor")
        sub=func()
        sub -= 3
        print("sub::",sub)
        return sub
    return in2

@x2
@x1

def concat():
    a=50
    return a

print(concat())

After decor
Before decor
add:: 55
sub:: 52
52

In [ ]:
def cal(input1:int)-
    print(input1*2)

cal(2)

SyntaxError: expected ':' (<ipython-input-5-e5314d0417ab>, line 1)

In [ ]:
i = 0
while i < 3:
       print(i)
       i += 1
else:
      print(0)
      print(3%3)

0
1
2
0
0

In [ ]:
print([[i+j for i in "abc"] for j in "def"])

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [ ]:


i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [ ]:

i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i += 1

1
2

In [ ]:
#  local and non local example
def outer():

    x="outer"

    def inner():
        nonlocal x
        x="inner"

    inner()
    return x

print(outer())

inner

In [ ]:
#MAP function

lst=[1,2,3,4,5]
sum_even=0
sum_odd=0

def even_odd_sum(num):

    global sum_even,sum_odd
    if num%2==0:
        sum_even +=num
        print("Number {} is even and even_sum is {} ".format(num, sum_even))
    else:
        sum_odd +=num
        print("Number {} is odd and odd_sum is {}".format(num,sum_odd))

print(list(map(even_odd_sum,lst)))

Number 1 is odd and odd_sum is 1
Number 2 is even and even_sum is 2
Number 3 is odd and odd_sum is 4
Number 4 is even and even_sum is 6
Number 5 is odd and odd_sum is 9
[None, None, None, None, None]

In [ ]:
#filter

def even(num):
    if num%2==0:
        return True

lst=[1,2,3,4,5,67,55,77,44,98]
print(list(filter(even,lst)))

print(list(filter(lambda num:num%2==0, lst)))
print(list(map(lambda num:num%2==0,lst)))

[2, 4, 44, 98]
[2, 4, 44, 98]
[False, True, False, True, False, False, False, False, True, True]

In [ ]:
#difference between map and filter using lambda

lst = [1, 2, 3, 4, 5]

# Using map to square each number
squared_lst = list(map(lambda x: x ** 2, lst))
print("Squared List:", squared_lst)

# Using filter square root each number
sqrd_lst = list(filter(lambda x: x ** 2, lst))
print("Squared List:", sqrd_lst)

#map() returns all values where as filter() returns only conditional values

Squared List: [1, 4, 9, 16, 25]
Squared List: [1, 2, 3, 4, 5]

In [ ]:
#map() and filter()

# map() returns all iterations, where as filter() returns only values conditions satsfies

def even(num):
    if num%2==0:
        return True

print(list(map(even,lst)))
print(list(filter(even,lst)))

print(list(map(lambda x:x%2==0,lst)))
print(list(filter(lambda x:x %2==0, lst)))

lst=[1,2,3,4,5,67,55,77,44,98]

[None, True, None, True, None, None, None, None, True, True]
[2, 4, 44, 98]
[False, True, False, True, False, False, False, False, True, True]
[2, 4, 44, 98]

In [ ]:
lst = [1, 2, 3, 4, 5]

def even_odd_sum(nums):
    sum_even = 0
    sum_odd = 0

    for num in nums:
        if num % 2 == 0:
            sum_even += num
            print("Number {} is even and even_sum is {}".format(num, sum_even))

        else:
            sum_odd += num
            print("Number {} is odd and odd_sum is {}".format(num, sum_odd))

    return sum_even, sum_odd

sum_even, sum_odd = even_odd_sum(lst)
print("Total even sum:", sum_even)
print("Total odd sum:", sum_odd)

Number 1 is odd and odd_sum is 1
Number 2 is even and even_sum is 2
Number 3 is odd and odd_sum is 4
Number 4 is even and even_sum is 6
Number 5 is odd and odd_sum is 9
Total even sum: 6
Total odd sum: 9

In [ ]:
x='10'
y=10
print(x == y)

False

In [ ]:
lst=[1,2,3,4,5,6]

[i**2 for i in lst if i != 4]

[1, 4, 9, 25, 36]

In [ ]:
def func(*args,**kwargs):
    print(type(args),type(kwargs))
    a1=args
    k1=kwargs
    return args,kwargs,a1,k1

values=func("Ram",'shyyam',age=30,hight=5.6)
print(values)

<class 'tuple'> <class 'dict'>
(('Ram', 'shyyam'), {'age': 30, 'hight': 5.6}, ('Ram', 'shyyam'), {'age': 30, 'hight': 5.6})

In [ ]:
a2=['Ram','Shyam']
k2={'age':30,'height':5.6}
def func(*a3,**k3):
    a4=a3
    k4=k3
    return a4,k4

val2=func(*a2,**k2)
val3=func(a2,k2)
print(val2)
print(val3)

(('Ram', 'Shyam'), {'age': 30, 'height': 5.6})
((['Ram', 'Shyam'], {'age': 30, 'height': 5.6}), {})

In [ ]:
!pip install Pyforest

Requirement already satisfied: Pyforest in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [ ]:
pd.read_html('https://ngodarpan.gov.in/index.php/search/')

NameError: name 'pd' is not defined

In [ ]:
#Decorators

### Closures of functions
def main_welcome(msg):

    def sub_welcome_class():
        print("Welcome To Python Channel")
        print(msg)
        print("Please subscribe Pythonchannel")
    return sub_welcome_class()

In [ ]:
main_welcome("Python")

Welcome To Python Channel
Python
Please subscribe Pythonchannel

In [ ]:

### Closures & initial Decorators
def main_welcome(func):

    def sub_welcome_class():
        print("Welcome To Python Channel")
        print(func([1,2,3,4,5,6]))
        print("Please subscribe Pythonchannel")
    return sub_welcome_class()

In [ ]:
main_welcome(len)

Welcome To Python Channel
6
Please subscribe Pythonchannel

In [ ]:
### Decorators
def main_welcome(func):

    def sub_welcome_class():
        print("Welcome To Python Channel")
        func()
        print("Please subscribe Pythonchannel")
    return sub_welcome_class()

In [ ]:
@main_welcome
def channel_name():
    print("This is Python youtube channel")

Welcome To Python Channel
This is Python youtube channel
Please subscribe Pythonchannel

In [ ]:
### =,copy(),deepcopy()

import copy

lst1=[1,2,3,4]
lst2=[3,4,5,6]

lst2=lst1
lst2=lst1.copy()
lst2=copy.deepcopy(lst1)

print(lst1,lst2)

[1, 2, 3, 4] [1, 2, 3, 4]

In [ ]:
import random
when = ['A few years ago', 'Yesterday', 'Last night', 'A long time ago','On 20th Jan']
who = ['a rabbit', 'an elephant', 'a mouse', 'a turtle','a cat']
name = ['Ali', 'Miriam','daniel', 'Hoouk', 'Starwalker']
residence = ['Barcelona','India', 'Germany', 'Venice', 'England']
went = ['cinema', 'university','seminar', 'school', 'laundry']
happened = ['made a lot of friends','Eats a burger', 'found a secret key', 'solved a mistery', 'wrote a book']
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

A long time ago, a cat that lived in Germany, went to the seminar and found a secret key